h1{
    text-align: center;
    text-decoration: underline;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

iframe{
    height: 500px;
    width: 1000px;
}



.flex-container > div {
    background-color:lightgrey;
    width: 1000px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}
